/* 1. Red: #ff0000
2. Green: #008000
3. Gold: #ffd700
4. Silver: #c0c0c0
5. White: #ffffff */

#root {
  text-align: center;
  display: flex;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}

input {
  margin-bottom: 0.5rem;
  padding: 0.5rem;
  border-radius: 5px;
  border: 1px solid #c9476e;
}

button {
  cursor: pointer;
  border: none;
  background: none;
}

.btn {
  border: none;
  border-radius: 15px;
  padding: 20px;
  cursor: pointer;
  margin: 5px;
  background-color: #a0c7fa;
  text-decoration: none;
  color: black;
  font-family: 'KodeMono';
}

.icon {
  width: 50px;
  cursor: pointer;
  padding: 15px;
  color: black;
  display: block;
  background: none;
}

.green {
  color: #008000;
}

.red {
  color: #ff0000;
}

.yellow {
  color: #ffd700;
}

p {
  padding: 5px;
}
