.auth-form,
.login-form,
.signup-form {
  display: flex;
  flex-direction: column;
  padding: 30px;
  padding-bottom: 0;
  margin-top: 10%;
}

label {
  text-align: left;
  padding: 0.25rem 0;
  font-family: 'KodeMono';
}

.change-form-btn {
  background: none;
  text-decoration: underline;
  color: #c0c0c0;
}
